.grid{
    display: grid;
    grid-template-columns: 3fr 4fr 75px;
    border-bottom: 1px solid gray;
}

.gridItem{
    padding: 5px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

/* Remove border when focused*/
.gridItem input{
    border: none;
    height: 30px;
    font-size: 1rem;
    width: 100%;
}
button{
    padding: 5px;
}
