.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.handle {
    background-color: #DEE2E6;
    width: 1px;
}

.fileTreeLight {
   background-color: #F2F2F2; 
}
.fileTreeDark {
   background-color: #1D1D1D; 
}
