.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.handle {
    background-color: #DEE2E6;
    width: 1px;
}

.fileTreeLight {
   background-color: rgba(0, 0, 0, 0.1) 
}
.fileTreeDark {
   background-color: rgba(0, 0, 0, 0.2) 
}
