.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.handle {
  background-color: #dee2e6;
  width: 1px;
}

.fileTreeLight {
  background-color: #f2f2f2;
}
.fileTreeDark {
  background-color: #1d1d1d;
}
